@import "https://fonts.googleapis.com/css2?family=Pangolin&display=swap";
/*-------------Layout-------------*/
/*============= Navbar Start ================*/
@keyframes logo-hover {
	20% {
		padding-right: 0em;
	}
	100% {
		padding-right: 5em;
	}
}
/* *******************Navbar Ends*************************/
/* =================Banner Section ==================== */
@keyframes ring {
	0% {

		background-position: calc(50% - 5em) 50%,  calc(50% - 2.5em) calc(50% - 1.5em),  50% calc(50% - 2em),  calc(50% + 2.5em) calc(50% - 1.5em),  calc(50% - 5em) 50%,  calc(50% - 2.5em) calc(50% + 1.5em),  50% calc(50% + 2em),  calc(50% + 2.5em) calc(50% + 1.5em),  0 50%, 0 50%;
	}
	100% {

		background-position: calc(50% - 2.5em) calc(50% - 1.5em),  50% calc(50% - 2em),  calc(50% + 2.5em) calc(50% - 1.5em),  calc(50% + 5em) 50%,  calc(50% - 2.5em) calc(50% + 1.5em),  50% calc(50% + 2em),  calc(50% + 2.5em) calc(50% + 1.5em),  calc(50% + 5em) 50%,  0 50%, 0 50%;
	}
}
/* =================About Us============= */
/* *****************About Us*************** */
/* ================Work Section =========== */
/* ****************Work Section ********** */
/* ********************************** */
/* =============== Hexagon ============ */
/**************** Hexagon ************* */
/* ============ Div Section CSS ======= */
@keyframes changebg {
	33% {
		background-color: #485be6;
	}
	66% {
		background-color: #00b6e9;
	}
	100% {
		background-color: #bb42ff;
	}
}
@keyframes changebg-2 {
	33% {
		background-color: #bb42ff;
	}
	66% {
		background-color: #485be6;
	}
	100% {
		background-color: #00b6e9;
	}
}
@keyframes changebg-3{
	33% {
		background-color: #00b6e9;
	}
	66% {
		background-color: #bb42ff;
	}
	100% {
		background-color: #485be6;
	}
}
/**************** Div Section CSS ************* */
/* ============== Contact Section CSS ========= */
@keyframes linearbg {
	0% {
		background: #bd5ff2;
		background: linear-gradient(45deg, #bd5ff2, #6287f6);
	}
	50% {
		background: rgb(189, 95, 242);
		background: linear-gradient( 149deg, rgba(189, 95, 242, 1) 42%, rgba(98, 135, 246, 1) 71% );
	}
	100% {
		background: rgb(189, 95, 242);
		background: linear-gradient( 235deg, rgba(189, 95, 242, 1) 42%, rgba(98, 135, 246, 1) 71% );
	}
}
@keyframes clippath {
	0% {
		clip-path: polygon(3% 3%, 100% 0%, 97% 97%, 0% 100%);
	}
	50% {
		clip-path: polygon(0 0, 97% 3%, 100% 100%, 3% 97%);
	}
	100% {
		clip-path: polygon(3% 3%, 100% 0%, 97% 97%, 0% 100%);
	}
}
/* ============ Second Section of contact section ============ */
/* .bordered:hover .main-box {
    transform: translateX(2.5px) translateY(2.5px);
} */
/* *************  Second Section of contact section ************* */
@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}
}
/**************** Contact Section CSS ************* */
/* ============== Navbar CSS =========== */
/* *****************Navbar CSS ********** */
/* ===============Banner Column Image =======*/
/* ************** Banner column image **********/
/* ============== Banner Heading =============*/
/* ************** Banner Heading **********/
/* ================ Hexagon CSS ======== */
/* ************** Hexagon CSS **********/
/* ============ Div Section CSS ======= */
/* ************** Div Section CSS **********/
/* ============ Second Section of contact section ============ */
/* ************ Second Section of contact section **************/
/* ==================Navbar CSS ======================*/
/* ==================End Navbra CSS ================= */
/* =======Banner CSS======= */
/* *****************Banner CSS********* */
/* =================Hexagon CSS=============== */
/* *****************Hexagon CSS************** */
/* ============ Div Section CSS ============= */
/* ***************** Div Section CSS ************** */
/* ============ Second Section of contact section ============ */
/* ************ Second Section of contact section **************/
/* ============ List Image section ================== */
/* ************ List Image Section ****************** */
&:root {
	--accent: hsla(15, 48%, 37%, 100%);
	--bu: calc(1rem + max(1vh, 1vw));
	--linear: linear-gradient(45deg, #bd5ff2, #6287f6);
}
* {
	font-family: "Pangolin";
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	border: none;
	outline: none;
	&:focus {
		outline: none !important;
	}
}
.peragraph {
	p {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
}
#heading {
	font-size: 3.5rem;
	font-weight: 900;
	color: #485be6;
}
.heading {
	color: #485be6;
	h1 {
		font-size: 5vw;
		font-weight: 900;
		text-shadow: 0 0 5px #0000ff;
	}
}
#about {
	margin-bottom: 5rem;
	padding-bottom: 5rem;
}
.skew {
	transform: skew(-20deg);
}
.un-skew {
	transform: skew(20deg);
}
#nav-wrapper {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 2px 2px 4px 0px #cacaca;
}
#nav {
	background-color: #fff;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	height: 4em;
	overflow: hidden;
}
#nav.nav-visible {
	height: 100%;
	overflow: auto;
}
.nav {
	display: flex;
	height: 5em;
	line-height: 4em;
	flex-grow: 1;
}
.nav-link {
	padding: 0 1em;
	text-transform: uppercase;
	text-align: center;
	border-top: 0.5px solid #ddd;
}
.logo {
	padding: 0 1em;
}
span.gradient {
	background: #bd5ff2;
	background: linear-gradient(45deg, #bd5ff2, #6287f6);
	padding: 0 1em;
	position: relative;
	right: 1em;
	margin-right: auto;
	&:hover {
		animation-name: logo-hover;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
	}
}
h1.logo {
	font-weight: 300;
	font-size: 1.75em;
	line-height: 0.75em;
	color: #fff;
	a {
		text-decoration: none;
		color: #fff;
	}
}
a {
	&:active {
		text-decoration: none;
		color: #fff;
		text-decoration: none;
		color: #485be6;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
		text-decoration: underline;
	}
	&:visited {
		text-decoration: none;
		color: #fff;
		text-decoration: none;
		color: #485be6;
	}
	&:link {
		text-decoration: none;
		color: #485be6;
	}
}
.rays {
	width: 100%;
	top: 0;
	left: 0;
	background: url("../../assets/img/Graphic-Purple-Wave.svg") 100%, url("../../assets/img/Graphic-Blue-Wave.svg") 100%, url("../../assets/img/Graphic-Teal-Wave.svg") 100%, url("../../assets/img/Graphic-Hero-Blur.jpg") 100%;
}
.section {
	width: 100%;
	transition: 0.5s;
	height: 600px;
	img {
		position: absolute;
		width: 95%;
		transition: 0.5s;
		margin-top: 5rem;
	}
	.up {
		margin-top: 9.5rem;
		transition: all 0.5s linear-out;
	}
}
.button {
	text-shadow: 2px 2px 4px #000;
	&:hover {
		background: linear-gradient(270deg, #2e37b8 50%, #e600e6 0) 100%;
		background-size: 200%;
		color: #fff !important;
		transition: 0.5s linear;
		text-shadow: 2px 2px 4px #000;
	}
}
.btn-primary {
	text-shadow: 2px 2px 4px #000;
	background: linear-gradient(45deg, #a12fe2, #2452dd);
	&:hover {
		background: linear-gradient(270deg, #2e37b8 50%, #e600e6 0) 100%;
		transition: 0.5s linear;
		background-size: 200%;
	}
}
.columns {
	.column {
		&:nth-child(even) {
			justify-self: center;
		}
	}
}
.column {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	transition: all 0.8s;
	background: #f8f9fa;
	cursor: pointer;
	&:hover {
		box-shadow: 0 4px 8px rgb(212, 211, 211);
		background: url("../../assets/img/magicpattern-blob-3.png");
		background-position: right bottom;
		transition: all 0.8s;
	}
}
.box-heading {
	color: #485be6;
}
.box {
	top: 0px;
	position: absolute;
	right: 14px;
	height: 80px;
	width: 80px;
	clip-path: polygon(0 0, 100% 100%, 100% 0);
	z-index: 2;
	background-color: white;
	.svg-corner {
		position: absolute;
		top: -9;
		left: 0;
		z-index: -1;
		-webkit-transition: 0.1s all linear-in;
		transition: 0.1s all linear-in;
	}
}
.right-corner-icon {
	top: -9px;
	position: absolute;
	right: -10px;
	height: 80px;
	width: 80px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 100%, 0 33%);
}
.corner-icon {
	background: var(--linear);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: relative;
	top: 19px;
	-webkit-transition: 0s all linear-in;
	transition: 0s all linear-in;
	left: 9px;
	i {
		font-weight: 900;
		padding-top: 0.4rem;
		padding-left: 0.3rem;
	}
}
.work {
	margin-top: -5rem;
}
.left-content {
	margin-top: 7rem;
	.subheading {
		text-transform: uppercase;
		color: #485be6;
		font-weight: 600;
	}
	.content {
		font-size: larger;
	}
}
.right-section {
	height: auto;
	padding-top: 4rem;
	padding-bottom: 29rem;
}
.text {
	text-align: center;
	overflow: hidden;
	.demo {
		font-size: 15px;
		text-align: justify center;
		word-spacing: 0px;
	}
}
.hexagon {
	left: 55%;
	margin-top: 3rem;
	position: absolute;
	background-color: #bb42ff;
	border-radius: 0.9rem;
	width: 15rem;
	height: 9.2rem;
	z-index: -1;
	animation: changebg 5s linear infinite;
	&:before {
		content: "";
		position: absolute;
		top: -0.1vh;
		left: -0.1vh;
		background-color: #bb42ff;
		border-radius: inherit;
		height: 100%;
		width: 100%;
		z-index: -1;
		animation: changebg 5s linear infinite;
		transform: rotate(60deg);
	}
	&:after {
		content: "";
		position: absolute;
		top: -0.1vh;
		left: -0.1vh;
		background-color: #bb42ff;
		border-radius: inherit;
		height: 100%;
		width: 100%;
		z-index: -1;
		animation: changebg 5s linear infinite;
		transform: rotate(-60deg);
	}
}
.hexagon2 {
	left: 6rem;
	position: absolute;
	background-color: #00b6e9;
	border-radius: 0.9rem;
	width: 15rem;
	height: 9.2rem;
	z-index: -1;
	animation: changebg-2 5s linear infinite;
	&:before {
		content: "";
		position: absolute;
		top: -0.1vh;
		left: -0.1vh;
		background-color: #00b6e9;
		border-radius: inherit;
		height: 100%;
		width: 100%;
		z-index: -1;
		animation: changebg-2 5s linear infinite;
		transform: rotate(60deg);
	}
	&:after {
		content: "";
		position: absolute;
		top: -0.1vh;
		left: -0.1vh;
		background-color: #00b6e9;
		border-radius: inherit;
		height: 100%;
		width: 100%;
		z-index: -1;
		animation: changebg-2 5s linear infinite;
		transform: rotate(-60deg);
	}
}
.hexagon3 {
	left: 11rem;
	margin-top: 38%;
	position: absolute;
	background-color: #485be6;
	border-radius: 0.9rem;
	width: 15rem;
	height: 9.2rem;
	z-index: -1;
	animation: changebg-3 5s linear infinite;
	&:before {
		content: "";
		position: absolute;
		top: -0.1vh;
		left: -0.1vh;
		background-color: #485be6;
		border-radius: inherit;
		height: 100%;
		width: 100%;
		z-index: -1;
		overflow-y: 0;
		animation: changebg-3 5s linear infinite;
		transform: rotate(60deg);
	}
	&:after {
		content: "";
		position: absolute;
		top: -0.1vh;
		left: -0.1vh;
		background-color: #485be6;
		border-radius: inherit;
		height: 100%;
		width: 100%;
		z-index: -1;
		overflow-y: 0;
		animation: changebg-3 5s linear infinite;
		transform: rotate(-60deg);
	}
}
.hexa-bottom-row {
	margin-top: 5rem;
}
.right-content {
	margin-top: 3rem;
	.subheading {
		text-transform: uppercase;
		color: #485be6;
		font-weight: 600;
	}
	.content {
		font-size: larger;
	}
}
.div-1 {
	background: url(../../assets/img/blob-background-column.png), skyblue;
	background-position: left;
	text-align: center;
	width: 250px;
	padding: 25px 15px 15px 15px;
	transition: 0.5s ease;
	color: white;
}
.div-2 {
	background: url(../../assets/img/blob-background-column.png), skyblue;
	background-position: right;
	text-align: center;
	width: 250px;
	padding: 25px 15px 15px 15px;
	float: right;
	margin-top: -5rem;
	margin-right: 7rem;
	color: white;
}
.div-3 {
	background: url(../../assets/img/blob-background-column.png), skyblue;
	background-position: bottom;
	text-align: center;
	width: 250px;
	padding: 25px 15px 15px 15px;
	color: white;
}
.linearbg {
	height: 500px;
	width: 100%;
	background: #bd5ff2;
	background: linear-gradient(45deg, #bd5ff2, #6287f6);
	animation: linearbg 4s linear infinite;
}
.linear-overlay {
	height: 500px;
	width: 100%;
	border: 5px;
	background: white;
	clip-path: polygon(0 0, 97% 3%, 100% 100%, 3% 97%);
	animation: clippath 3s linear infinite;
}
.contact-content {
	margin-top: 4rem;
	.subheading {
		text-transform: uppercase;
		color: #485be6;
		font-weight: 600;
	}
	.content {
		font-size: larger;
	}
}
.main-box {
	position: relative;
	flex-basis: 75%;
	border-radius: var(--bu);
	height: 20rem;
	width: 80%;
	background-color: lightblue;
	padding-top: 1px;
	float: right;
	.text {
		position: absolute;
		top: 100%;
		padding: 0 calc(var(--bu) * 0.5);
		transition: top 500ms ease-in;
	}
}
.box-inner {
	height: 13rem;
	width: 16vw;
	margin-top: 3.5rem;
	margin-left: 4%;
	position: absolute;
	transform: rotate(43deg);
	img {
		border-radius: 30px;
	}
}
.animated-content {
	padding-left: 6rem;
	padding-right: 1rem;
	position: absolute;
	width: 95%;
	height: 90%;
	overflow: hidden;
	margin-left: 2rem;
}
.title {
	position: absolute;
	inset: auto 0 30%;
	color: #2e37b8;
	padding-left: 80px;
	transition: bottom 500ms 300ms ease-in-out;
	&::before {
		content: "";
		position: absolute;
		top: 3rem;
		right: 5%;
		width: 70%;
		height: 5px;
		border-radius: 2.5px;
		background-color: #2e37b8;
		transition: width 500ms 300ms ease-in-out;
	}
}
.bordered {
	&:hover {
		.box-inner {
			img {
				scale: 1.1;
				transition: scale 500ms ease-in-out, transform 500ms ease-in-out;
			}
		}
		.title {
			bottom: 60%;
			transition: bottom 500ms ease-in;
			&::before {
				width: 0%;
				transition: width 500ms 300ms ease-out;
			}
		}
		.main-box {
			.text {
				top: 37%;
				transition: top 500ms 300ms ease-out;
			}
			.title {
				.arrow {
					transition: 300ms ease-in;
					transform: rotateX(180deg);
				}
			}
		}
	}
}
.list-item {
	height: 400px;
	width: 60px;
	margin-right: 0.8rem;
	transition: width 0.5s ease;
	border-radius: 25px;
	cursor: pointer;
	overflow: hidden;
	background: url("../../assets/img/flower1-removebg-preview.png"), linear-gradient(45deg, #bd5ff2, #6287f6);
	background-blend-mode: luminosity;
	background-size: cover;
	background-repeat: no-repeat;
}
.activate {
	width: 500px;
}
.fa-arrow-alt-circle-right {
	animation: pulse-animation 0.5s linear infinite alternate;
	border-radius: 50%;
}
.column-1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.column-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	.footer-links {
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
	}
}
.column-3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (min-width: 800px) {
	#nav-wrapper {
		overflow: hidden;
	}
	#nav {
		overflow: hidden;
		flex-direction: row;
	}
	.nav-link {
		border-top: none;
		text-shadow: 2px 2px 4px #6287f6;
		font-size: larger;
		text-shadow: 2px 2px 4px #6287f6;
		font-size: larger;
		transform: skew(-20deg);
		color: #777;
		text-decoration: none;
		&:last-child {
			padding-right: 3em;
		}
	}
	.right {
		overflow: hidden;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		left: 1.5em;
		height: auto;
	}
	.btn-nav {
		display: none;
	}
	.nav {
		a {
			&:link.active {
				background: #bd5ff2;
				background: linear-gradient(45deg, #bd5ff2, #6287f6);
				color: #fff;
			}
		}
	}
	a {
		&:visited.active {
			background: #bd5ff2;
			background: linear-gradient(45deg, #bd5ff2, #6287f6);
			color: #fff;
		}
		&:active.active {
			background: #bd5ff2;
			background: linear-gradient(45deg, #bd5ff2, #6287f6);
			color: #fff;
		}
		&:hover.nav-link {
			&:not(.active) {
				color: #444;
				background: #ddd;
				background: linear-gradient(45deg, #fff, #ddd);
			}
		}
	}
	.nav-link-span {
		transform: skew(20deg);
		display: inline-block;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
	.right-section {
		height: auto;
		top: 10rem;
	}
	.hexagon {
		margin-top: -2rem;
	}
	.hexagon2 {
		margin-top: -7rem;
		margin-left: -3rem;
	}
	.hexagon3 {
		margin-left: -5rem;
		margin-top: 10rem;
	}
	.hexa-bottom-row {
		margin-top: 10rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.right {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.btn-nav {
		color: #f857a8;
		padding-left: 2em;
		padding-right: 2em;
	}
	.rays {
		width: 100%;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background: url("../../assets/img/Graphic-Purple-Wave.svg") 100%, url("../../assets/img/Graphic-Blue-Wave.svg") 100%, url("../../assets/img/Graphic-Teal-Wave.svg") 100%, url("../../assets/img/Graphic-Hero-Blur.jpg") 100%;
	}
	.section {
		width: 100%;
		height: 750px;
		margin-bottom: 7rem;
	}
	.content {
		text-align: center;
		padding-top: 3rem;
		padding-right: 0.5rem;
		margin-top: -3rem;
	}
	.heading {
		h1 {
			font-size: 7vw;
			font-weight: 900;
		}
	}
	.left-content {
		text-align: center;
		margin-top: 2rem;
	}
	.right-section {
		top: 2rem;
	}
	.hexagon {
		margin-top: 5rem;
		margin-right: 5rem;
	}
	.hexagon2 {
		margin-left: 1rem;
	}
	.hexagon3 {
		left: 25vw;
		margin-top: 18rem;
	}
	.hexa-bottom-row {
		margin-top: 10rem;
	}
	.box-md {
		top: 0px;
		position: absolute;
		right: 60px;
		height: 80px;
		width: 80px;
		clip-path: polygon(0 0, 100% 100%, 100% 0);
		z-index: 2;
		background-color: white;
	}
	.div-1 {
		margin-left: 4rem;
	}
	.div-3 {
		margin-left: 4rem;
	}
	.div-2 {
		margin-right: 4rem;
	}
	.right-content {
		margin-top: 2rem;
		text-align: center;
	}
	.box-inner {
		height: 14rem;
		width: 35vw;
		border-radius: var(--bu);
		transform: rotate(0deg);
		margin-top: 2.8rem;
		margin-left: 0%;
	}
	.main-box-2 {
		float: left;
	}
	.box-inner-2 {
		right: 12px;
		border-radius: var(--bu);
	}
	.animated-content {
		right: 0rem;
	}
	.animated-content-2 {
		right: 8rem;
	}
	.bordered {
		&:hover {
			.main-box {
				.text {
					top: 30%;
					transition: top 500ms 300ms ease-out;
				}
			}
		}
	}
}
@media screen and (min-width: 360px) and (max-width: 767px) {
	.right {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.btn-nav {
		color: #f857a8;
		padding-left: 2em;
		padding-right: 2em;
	}
	.rays {
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background: url("../../assets/img/Graphic-Purple-Wave.svg")top 50%, url("../../assets/img/Graphic-Blue-Wave.svg") 50%, url("../../assets/img/Graphic-Teal-Wave.svg") 50%, url("../../assets/img/Graphic-Hero-Blur.jpg") 100%;
	}
	.section {
		width: 100%;
		height: 400px;
		margin-bottom: 5rem;
		img {
			margin-top: -1rem;
		}
		.up {
			margin-top: 1rem;
			transition: all 0.5s linear-out;
		}
	}
	.content {
		text-align: center;
	}
	.heading {
		h1 {
			font-size: 7vw;
			font-weight: 900;
		}
	}
	.left-content {
		text-align: center;
		margin-top: 0rem;
	}
	.hexagon {
		margin-top: 0;
		margin-left: -25%;
	}
	.hexagon2 {
		margin-top: 15.2rem;
		margin-left: -6.5rem;
	}
	.hexagon3 {
		margin-left: -4.8rem;
		margin-top: 31rem;
	}
	.hexa-bottom-row {
		margin-top: 50rem;
	}
	.right-content {
		margin-top: -30rem;
		text-align: center;
	}
	.div-1 {
		background-color: lightblue;
		text-align: center;
		width: 250px;
		padding: 25px 15px 15px 15px;
		margin-top: -7rem;
	}
	.div-2 {
		background-color: lightblue;
		text-align: center;
		width: 250px;
		padding: 25px 15px 15px 15px;
		margin-right: 0rem;
		margin-top: 1rem;
		margin-bottom: 10rem;
	}
	.div-3 {
		background-color: lightblue;
		text-align: center;
		width: 250px;
		padding: 25px 15px 15px 15px;
		position: absolute;
		margin-top: 13.7rem;
	}
	.main-box-2 {
		float: left;
	}
	.box-inner {
		transform: rotate(0deg);
		height: 21rem;
		margin-top: 2.5rem;
		width: 33vw;
		border-radius: var(--bu);
		margin-left: 0%;
		img {
			border-radius: 15px;
		}
	}
	.box-inner-2 {
		right: 12px;
		border-radius: var(--bu);
	}
	.animated-content {
		margin-left: 0.5rem;
	}
	.animated-content-2 {
		right: 4rem;
	}
	.main-box {
		height: 26rem;
		.text {
			padding: 0px 0px 0px 0px;
			margin-left: -2rem;
		}
	}
	.title {
		padding-left: 50px;
		&::before {
			right: 3%;
		}
	}
	.bordered {
		&:hover {
			.main-box {
				.text {
					top: 25%;
					transition: top 500ms 300ms ease-out;
				}
			}
			.title {
				bottom: 72%;
				transition: bottom 500ms ease-in;
			}
		}
	}
	.list-image {
		margin-right: 2rem;
	}
}
