.info{
    height: 400px;
    width: 60px;
    margin-right: .8rem;
    transition: width .5s ease;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    background:linear-gradient(45deg, #bd5ff2, #6287f6);
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: linear-gradient(45deg, #bd5ff2, #6287f6); */
  }
  .info.active {
    width: 500px;
  }