body {
    background-color: rgb(202, 237, 248);
}

.box {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.image {
    height: 140px;
    width: 50%;
    border-radius: 5px;
    margin: 0;
}

.status {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightblue;
    width: 60px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
}